* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: black;
  color: white;
}
div#app {
  max-width: 100%;
  width: 480px;
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
div.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  padding: 10px;
}
div.numpad button {
  background: black;
  color: white;
  border: 2px solid white;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
div.numpad button.enter {
  grid-column: span 2;
}
div.terminal {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
}
span.prompt {
  color: cyan;
}
span.bulls {
  color: lime;
}
span.cows {
  color: yellow;
}

